
$primary-normal: #061c1e;
$primary-dark: #062e2c;
$primary-ligth: #1d928c;

$secondary-normal: #090d11;
$secondary-dark: #06090c;
$secondary-ligth: #1a1f25;

$black-normal: #232224;
$black-dark: #161617;
$black-ligth: #353436;

$white-normal: #fff;
$white_dark: #edeaef;
$white_ligth: #fefbff;

$red-normal: #208b9e;
$red-dark: #0e5764;
$red-ligth: #30c9e4;
